#compare {
    .boxes {
        .item {
            .item-container {
                @include box-style();
                margin: 30px 0;
                h3,
                h4 {
                    text-align: center;
                    font-weight: 300;
                }
                h3 {
                    margin: 0;
                    padding: 30px 10px;
                    font-size: 160%;
                }
                .description {
                    background-color: $c_compare-description-bg;
                    color: $c_compare-description;
                    padding: 15px 5px;
                    margin: 0;
                }
                &.featured {
                    margin-top: 0;
                    h3 {
                        background-color: $c_compare-title-featured-bg;
                        border-radius: 8px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;

                        img {
                            width:60%;
                            margin: 0 auto;
                        }
                    }
                    .description {
                        background-color: $c_compare-description-featured-bg;
                        font-weight: 500;
                    }
                }
                .feature-list {
                    font-size: 90%;
                    margin: 0;
                    padding: 15px 12px;
                    list-style: none;
                    li {
                        padding: 5px 0;
                    }
                    .icon {
                        font-size: 120%;
                        width: 25px;
                        text-align: center;
                        &.fa-check {
                            color: $green;
                        }
                        &.fa-times {
                            color: $red;
                        }
                    }
                }
                .details {
                  text-align: center;
                  margin: 10px;
                    .btn-secondary {
                        width: 100%;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}
